.container{
    width: 50vw;
    height: max-content;
    display: flex;
    flex-direction: column;

    color: #929292;
}

.container h2{
    font-size: 2.3em;
    width: fit-content;
    margin: auto;
    border-bottom: 3px solid rgb(158, 158, 158);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.container p{
    width: 70%;
    min-width: 280px;
   margin: 35px auto;
   font-size: 1.3em;
   font-weight: 700;
}

@media screen and (max-width: 1000px) {
    .container{
        width: 100%;
        padding-top: 40px;
        color: #343232;
        background-color: #929292;
        
    }

    .container h2{
        border-bottom: 3px solid #343232;
    }
}