.container{
    height: 75vh;
    min-height: 75vh;
    width: 100vw;
    background: linear-gradient(90deg, #343232 50%, #929292 50%);
    overflow: hidden;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.projetos{
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}