@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@700&display=swap");


.lightProjects, .darkProjects{
    height: max-content;
    width: 100%;
    display: flex;

    align-items: center;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    padding-top: 80px;

}

#verMais{

   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   padding-bottom: 15px;

}

#verMais p{
    padding: 10px 40px;
    background-color: #fcfbfa;
    color: #060607;
  
    border: 2px solid #3e3f4062;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s all;
}

#verMais p:hover{
    background-color: #b3afaf;
    color: #fff;
}

.darkProjects{
    background-color: #5e5c5c;
}

.lightProjects{
    background-color: rgb(248, 248, 247);
}



.titulo{
    font-size: 2.5em;
    font-family: "Source Sans 3", sans-serif, Arial;

}

.conteudo2{
    width: 90%;
    height: 130vh;
    display: flex;
    flex-direction: column;

    align-items: center;
    gap: 50px;
}

.carrossel{
    display: flex;
    width: 80%;

    justify-content: center;
    align-items: center;
   
}

@media screen and (max-width: 1000px) {
    .conteudo2{
        gap: 50px;
    }
}