@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@700&display=swap");


#lightProjects, #darkProjects{
    height: max-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    padding-top: 30px;
}

#darkProjects{
    background-color: #3E3F40;
}

#lightProjects{
    background-color: rgb(248, 248, 247);
}



.titulo{
    font-size: 2.5em;
    font-family: "Source Sans 3", sans-serif, Arial;

}

.conteudo2{
    width: 90%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.carrossel{
    display: flex;
    width: 80%;

    justify-content: center;
    align-items: center;
   
}

@media screen and (max-width: 1000px) {
    .conteudo2{
        gap: 50px;
    }
}