.container{
   height: max-content;
    width: 100vw;
    padding: 30px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #262A2B;
    overflow: hidden;
}

.direita, .esquerda{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}



.esquerda{
    width: 43.7%;
}

.esquerda form{
    width: 100%;
    
}

.formulario{
    height: 100%;
    gap: 5px;
}

.esquerda input, .esquerda textarea, .esquerda button{
    width: 60%;
    min-width: 240px;
    outline: none;
    border: 2px #92928C solid;
    background-color: #3B3B3B;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin-top: 15px;
}
.esquerda input::placeholder{
    color: #92928C;
}


.esquerda textarea{
    height: 150px;
    resize:none;
}

.esquerda button{
    width: 63%;
    border-radius: 0px 0px 0px 0px;
}

.direita{
    text-align: initial;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 60px;

}

.direita p{
    color: #92928C;
}

.titulo, .titulo2{
    width: fit-content;
    font-size: 2.3em;
    color: #92928C;
    border-bottom: 3px solid #92928C;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    font-family: Raisonne DemiBold, Arial;
    margin-bottom: 20px;
    
}

.titulo2{
    width: fit-content;
    font-size: 1.8em;
    border: none;
    margin-bottom: 10px;
}

.conteudo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: max-content;
}

.todasasRedes{
    width: max-content;
    margin-top: 50px;
    overflow: hidden;
}

.minhasRedes{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: max-content;
}

.redes{
    display: flex;
    align-items: center;
    background-color: #92928C;
    padding: 4px;
    border-radius: 5px ;
}


.redes img{
    width: 80%;
    height: 80%;
}

.estruturaRedes{
    display: flex;
    gap: 20px;
    align-items: center;
}

.informacoes{
    min-width: 240px;
    width: max-content;
}



@media screen and (max-width: 1000px) {
    .esquerda, .direita{
        width: 100%;
    }

    .direita{
        margin-top: 50px;
    }

    .informacoes{
        min-width: 240px;
        width: 60%;
    }

   
}