@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@700&display=swap");


.contatoDark, .contatoLight{
   height: max-content;
    width: 100vw;
    padding: 80px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(
        to right,
        rgba(245, 245, 245, 0.658),
        rgba(245, 245, 245, 0.658)
      ),
      url(https://d33wubrfki0l68.cloudfront.net/daac8858fd4a0ccea44f59dfd079c3c16c263f33/c157c/assets/svg/common-bg.svg);
    overflow: hidden;
    transition: 0.5s all;
    box-shadow: -55px 0px 55px 55px rgb(155, 155, 154);
}


.contatoDark{
    background: linear-gradient(to right, rgba(36, 38, 39, 0.87), rgba(36, 38, 39, 0.87)), 
      url(https://d33wubrfki0l68.cloudfront.net/daac8858fd4a0ccea44f59dfd079c3c16c263f33/c157c/assets/svg/common-bg.svg);
      box-shadow: -55px 0px 55px 55px rgba(155, 155, 154, 0.644);
}

.tudo{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tudo p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.direita, .esquerda{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.esquerda{
    width: 43.7%;
}

.esquerda form{
    width: 100%;
    
}

.formulario{
    height: 100%;
    gap: 5px;
}

.esquerda div{
    width: 100%;
}

.esquerda input, .esquerda textarea, .esquerda button{
    box-sizing: border-box;
    width: 80%;
    min-width: 240px;
    outline: none;
    border: none;
    background-color: #292c2d;
    color: #feffff;
    text-decoration: none;
    margin-top: 15px;
    padding: 15px;
    border-radius: 5px;
}

.contatoDark .esquerda input, .contatoDark .esquerda textarea, .contatoDark .esquerda button{
    background-color: #8A8987;;

}

.contatoLight .esquerda textarea::placeholder{
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

.contatoDark .esquerda textarea::placeholder{
    color: #292c2d;
    font-family: Arial, Helvetica, sans-serif;
}


.contatoLight .esquerda input::placeholder{
    color: #ffffff;
}

.contatoDark .esquerda input::placeholder{
    color: #292c2d;
}

.contatoLight #submit{
    font-weight: bold;
    transition: 0.2s all;
    cursor: pointer;
}

.contatoDark #submit{
    transition: 0.2s all;
    font-weight: bold;
    cursor: pointer;
    color: #292C2D;
}

.contatoLight #submit:hover{
    color: #CDC8C2;

}

.contatoDark #submit:hover{
    color: #CDC8C2;

}


.esquerda textarea{
    height: 150px;
    resize:none;
}

.direita{
    text-align: initial;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 60px;

}

.direita p{
    color: #292c2d;
}

.titulo4, .titulo3{
    width: fit-content;
    font-size: 2.3em;

    font-family: "Source Sans 3", sans-serif, Arial;
}

.contatoDark .titulo4, .contatoDark .titulo3, .contatoDark p{
    color: #CDC8C2;
}


.titulo3{
    width: fit-content;
    font-size: 1.8em;
    border: none;
    margin-bottom: 10px;
}

.conteudo5{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: max-content;
    margin-top: 15px;
   
}

.todasasRedes{
    width: max-content;
    margin-top: 50px;
    overflow: hidden;
}

.minhasRedes{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: max-content;
}

.redes{
    display: flex;
    align-items: center;
    background-color: #292c2d;
    padding: 4px;
    border-radius: 5px ;
}

.contatoDark .redes{
    background-color: #CDC8C2;
    color: #292c2d;
}

.estruturaRedes{
    display: flex;
    gap: 20px;
    align-items: center;
}

.informacoes5{
    min-width: 240px;
    width: max-content;
}

.formDentro, .formDentro div{
    width: 100%;
}
.formDentro form{
    background-color: #fff;
}

@media screen and (max-width: 1000px) {
    .esquerda, .direita{
        width: 100%;
    }

    .direita{
        margin-top: 50px;
    }

    
    .informacoes5{
        min-width: 240px;
        width: 60%;
    }

    .esquerda input, .esquerda textarea, .esquerda button{
        width: 90%;
    }
    

}

@media screen and (max-width: 600px) {
.esquerda input, .esquerda textarea, .esquerda button{
    width: 100%;
}

.direita, .informacoes5{
    width: 100%;
}
}