@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@700&display=swap");


.container{
   height: max-content;
    width: 100vw;
    padding: 30px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(
        to right,
        rgba(245, 245, 245, 0.658),
        rgba(245, 245, 245, 0.658)
      ),
      url(https://d33wubrfki0l68.cloudfront.net/daac8858fd4a0ccea44f59dfd079c3c16c263f33/c157c/assets/svg/common-bg.svg);
    overflow: hidden;
}

.tudo{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tudo p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
}

.direita, .esquerda{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}



.esquerda{
    width: 43.7%;
}

.esquerda form{
    width: 100%;
    
}

.formulario{
    height: 100%;
    gap: 5px;
}

.esquerda div{
    width: 100%;
}

.esquerda input, .esquerda textarea, .esquerda button{
    box-sizing: border-box;
    width: 80%;
    min-width: 240px;
    outline: none;
    border: none;
    background-color: #292c2d;
    color: #feffff;
    text-decoration: none;
    margin-top: 15px;
    padding: 15px;
    border-radius: 5px;
}

.esquerda textarea::placeholder{
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

.esquerda input::placeholder{
    color: #feffff;
}


.esquerda textarea{
    height: 150px;
    resize:none;
}


.direita{
    text-align: initial;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 60px;

}

.direita p{
    color: #292c2d;
}

.titulo, .titulo2{
    width: fit-content;
    font-size: 2.3em;
    color: #292c2d;

    font-family: "Source Sans 3", sans-serif, Arial;
    
}

.titulo2{
    width: fit-content;
    font-size: 1.8em;
    border: none;
    margin-bottom: 10px;
}

.conteudo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: max-content;
    margin-top: 15px;
   
}

.todasasRedes{
    width: max-content;
    margin-top: 50px;
    overflow: hidden;
}

.minhasRedes{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: max-content;
}

.redes{
    display: flex;
    align-items: center;
    background-color: #292c2d;
    padding: 4px;
    border-radius: 5px ;
}



.estruturaRedes{
    display: flex;
    gap: 20px;
    align-items: center;
}

.informacoes{
    min-width: 240px;
    width: max-content;
}

.formDentro, .formDentro div{
    width: 100%;
}
.formDentro form{
    background-color: #fff;
}

@media screen and (max-width: 1000px) {
    .esquerda, .direita{
        width: 100%;
    }

    .direita{
        margin-top: 50px;
    }

    
    .informacoes{
        min-width: 240px;
        width: 60%;
    }

   
}