.rodape{
    background-color: #292c2d;
    padding: 20px 0px;
    width: 100%;
    height: max-content;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
}

.rodape p{
    color: #ffffff;
}

@media screen and (max-width: 500px)  {
    .rodape{
        font-size: 0.9em;
    }

    .rodape p{
        padding: 10px 20px;
    }
}