* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  scroll-behavior: smooth;
}

#inicio {
  background: linear-gradient(-110deg, #343232 50%, #929292 50%);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  scroll-behavior: smooth;
}

.container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

@keyframes movimentacaofundo {
  0% {
    background: linear-gradient(-110deg, #343232 50%, #929292 50%);
  }

  20% {
    background: linear-gradient(-110deg, #343232 50.2%, #929292 50%);
  }

  40% {
    background: linear-gradient(-110deg, #343232 50.3%, #929292 50%);
  }

  50% {
    background: linear-gradient(-110deg, #343232 50.4%, #929292 50%);
  }

  60% {
    background: linear-gradient(-110deg, #343232 50.3%, #929292 50%);
  }

  80% {
    background: linear-gradient(-110deg, #343232 50.2%, #929292 50%);
  }

  100% {
    background: linear-gradient(-110deg, #343232 50%, #929292 50%);
  }
}

#menu {
  display: flex;
  height: 90px;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  transition: all 0.24s;
  position: fixed;
  left: 0;
  top: 0;
}

#menu div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#menu:hover {
  background-color: #242323c4;
}

#menu:hover p span {
  color: rgb(146, 146, 146);
}

#textos {
  text-align: initial;
}

#menu p {
  width: 248px;
  height: 90px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 150%;
  /* identical to box height, or 90px */
  letter-spacing: -0.022em;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

#menu p span {
  color: #343232;
  transition: all 0.2s;
}

#menu nav {
  margin-top: 10px;
}

#menu nav a {
  text-decoration: none;
  width: 113px;
  height: 60px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.022em;
  color: #ffffff;
  /* border-bottom: 4px solid #494949; */
  transition: all 0.24s;
  margin-left: 60px;
}

#menu a:hover {
  border-bottom: 3px solid rgb(158, 158, 158);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  margin-top: -10px;
  letter-spacing: 0.03em;
}

#apresentacao strong {
  margin-left: 10px;
}

#tracos {
  display: none;
}

#apresentacao {
  color: #ffffff;
  display: flex;
  justify-content: space-evenly;
  margin-top: 170px;
}

#apresentacao p {
  font-family: Arial, Helvetica, sans-serif;

  font-size: 25pt;

  font-style: normal;
}
@keyframes digitando {
  from {
    width: 0;
  }
  to {
    width: 16ch;
  }
}

@keyframes piscando {
  50% {
    border-color: transparent;
  }
}

#nome {
  font-family: "Inter";
  font-size: 2.2em;
  font-weight: bold;

  color: #343232;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.418);
  overflow: hidden;
  white-space: nowrap;
  transition: all 0.5s;
}

#nome:hover {
  color: black;
}

#apresentacao #lorem {
  width: 650px;
  font-family: "Inter";
  font-style: normal;
  font-size: 22px;
  letter-spacing: -0.011em;
  color: #ffffff;
}

#lorem span {
  color: #343232;
  text-decoration: solid;
}

#botoes {
  display: flex;
  width: 600px;
  justify-content: space-around;
  margin-top: 39px;
}

#github {
  margin-left: 30px;
}

#apresentacao .redes {
  text-decoration: none;
  color: white;
  background-color: #232323;
  width: 190px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter";
  font-size: 22pt;
  transition: all 0.2s;
  border-radius: 10px;
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.223);
}

.redes:hover {
  margin-top: -6px;
  color: rgb(141, 141, 141);
  letter-spacing: 0.05em;
}

@keyframes flutuacao {
  0% {
    margin-top: -35px;
  }

  20% {
    margin-top: -40px;
  }

  30% {
    margin-top: -45px;
  }

  50% {
    margin-top: -50px;
  }

  70% {
    margin-top: -45px;
  }

  80% {
    margin-top: -40px;
  }

  100% {
    margin-top: -35px;
  }
}

#minhaimagem1 {
  height: 480px;
  animation: flutuacao 2.5s linear infinite;
  margin-right: -60px;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 14em;
  }
}

@keyframes blinkCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

#imagens {
  display: flex;
  justify-content: space-around;
  height: 600px;
  width: 700px;
}

#outrasredes {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 400px;
  animation: flutuacao-redes 2.5s linear infinite;
  margin-left: 10px;
}

@keyframes flutuacao-redes {
  0% {
    margin-top: -25px;
  }

  20% {
    margin-top: -30px;
  }

  30% {
    margin-top: -35px;
  }

  50% {
    margin-top: -40px;
  }

  70% {
    margin-top: -35px;
  }

  80% {
    margin-top: -30px;
  }

  100% {
    margin-top: -25px;
  }
}

.redespessoais {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: #929292;
  border-radius: 13px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.266);
  transition: all 0.4s;
}

.redespessoais:hover {
  margin-left: -10px;
}

.twitter {
  height: 30px;
  width: 40px;
}

.twitter:hover {
  background: linear-gradient(#36aee0, #1c96d1);
  padding: 14.2px 10px;
  border-radius: 13px;
  box-shadow: 4px 0px 5px rgba(0, 0, 0, 0.505);
}

.instagram {
  width: 90px;
  border-radius: 13px;
}

.instagram:hover {
  width: 60px;
  height: 60px;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

.telegram {
  width: 40px;
}

.telegram:hover {
  background: linear-gradient(#36aee0, #1c96d1);
  padding: 10px;
  border-radius: 13px;
}

.container #sobre {
  background: linear-gradient(110deg, #343232 50%, #929292 50%);
  height: 100vh;
}

.rolagem {
  width: 180px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #302c2cb5;
  margin-left: 200px;
  animation: rolagem 2s linear infinite;
  margin-top: 50px;
}

@keyframes rolagem {
  0% {
    margin-top: 50px;
  }

  50% {
    margin-top: 60px;
  }

  100% {
    margin-top: 50px;
  }
}

#apresentacao .rolagem a {
  font-family: "Inter";

  text-decoration: none;
  color: white;
}

#apresentacao .rolagem p {
  font-size: 15pt;
}

.rolagem img {
  width: 20px;
  margin-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
