


#inicio {
  background: linear-gradient(-110deg, #343232 50%, #929292 50%);
  width: 100vw;
  height: max-content;
min-height: 100vh;
  overflow: hidden;
}



#textos {
  text-align: initial;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.info{
  width: max-content;
}

#apresentacao strong {
  margin-left: 10px;
}

#apresentacao {
  color: #ffffff;
  display: flex;
  justify-content: space-evenly;
  
  margin-top: 90px;
}

#apresentacao p {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.64em;
  font-size: 2.3em;
  letter-spacing: -0.011em;
  font-style: normal;
  display: flex;
  justify-content: center;

  flex-direction: column;
  text-align: initial;
}

#nome {
  font-family: "Inter";
  font-size: 1.8em;
  font-weight: bold;

  color: #343232;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.418);
  overflow: hidden;
 
  transition: all 0.5s;
}

#nome:hover {
  color: black;
}

#apresentacao #lorem {
  width: 88%;
  font-family: "Inter";
  font-style: normal;
  font-size: 22px;
  letter-spacing: -0.011em;
  color: #ffffff;
  margin-top: 10px;

}



#botoes {
  display: flex;
  width: 100%;
  justify-content: center;

  margin-top: 39px;

  gap: 15%;
}


#apresentacao .redes {
  text-decoration: none;
  color: white;
  background-color: #232323;
  width: 190px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter";
  font-size: 22pt;
  transition: all 0.2s;
  border-radius: 10px;
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.223);
}

.redes:hover {
  margin-top: -6px;
  color: rgb(141, 141, 141);
  letter-spacing: 0.05em;
}

@keyframes flutuacao {
  0% {
    margin-top: -35px;
  }


  50% {
    margin-top: -50px;
  }



  100% {
    margin-top: -35px;
  }
}

#minhaimagem1 {
  height: 450px;
  width: 100%;
  min-width: 450px;
  max-width: 450px;
  animation: flutuacao 2.5s linear infinite;
  margin-right: -60px;
}

#imagens {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 50%;
  
}

#outrasredes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 400px;
  animation: flutuacao-redes 2.5s linear infinite;
  margin-left: 10px;
  margin-top: -100px;
  width: 50%;

}

@keyframes flutuacao-redes {
  0% {
    margin-top: -100px;
  }

  50% {
    margin-top: -125px;
  }

  100% {
    margin-top: -100px;
  }
}

.redespessoais {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: #929292;
  border-radius: 13px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.266);
  transition: all 0.4s;
}

.redespessoais:hover {
  margin-left: -10px;
}

.twitter {
  height: 30px;
  width: 40px;
}

.twitter:hover {
  background: linear-gradient(#36aee0, #1c96d1);
  padding: 14.2px 10px;
  border-radius: 13px;
  box-shadow: 4px 0px 5px rgba(0, 0, 0, 0.505);
}

.instagram {
  width: 90px;
  border-radius: 13px;
}

.instagram:hover {
  width: 60px;
  height: 60px;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

.telegram {
  width: 40px;
}

.telegram:hover {
  background: linear-gradient(#36aee0, #1c96d1);
  padding: 10px;
  border-radius: 13px;
}

.container #sobre {
  background: linear-gradient(110deg, #343232 50%, #929292 50%);
  height: 100vh;
}

.rolagem {
  width: 180px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #302c2cb5;
  box-sizing: border-box;
  margin: 30px auto -30px auto;

}

.rolagem div{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0px 10px;
  cursor: pointer  ;
}

@keyframes rolagem {
  0% {
    margin-top: 50px;
  }

  50% {
    margin-top: 60px;
  }

  100% {
    margin-top: 50px;
  }
}

#apresentacao .rolagem a {
  font-family: "Inter";

  text-decoration: none;
  color: white;
}

#apresentacao .rolagem p {
  font-size: 15pt;
}

.rolagem img {
  width: 20px;
  margin-top: 5px;


}

@media (max-width: 1000px) {
   
  #inicio{
      background: #343232;
      height: max-content;
      min-height: auto;
  }

  #textos, #imagens{
    width: 100%;
  }

  .direita{
    width: max-content;
    height: max-content;
  }

  #textos{
    margin-top: 100px;
  }

  #imagens{
    margin-top: 0px;
    height: 400px;
    justify-content: center;
    width: 100%;
    gap: 25px;
  }

  #apresentacao{
      justify-content: center;
      margin-top: 45px;
      flex-wrap: wrap;
      width: 100%;

  }

  #apresentacao p{
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
     font-size: 30.5px;
     letter-spacing: -0.019em;
     font-style: normal;
 }

 #apresentacao #nome{
  font-size: 1.5em;
  color: #929292;
 }


  div#botoes{
      display: none;
  }

  .rolagem{
      display: none;
  }

  #minhaimagem1{
      height: 350px;
      min-width: 350px;
      margin-left: -50px;
      animation: teste;
      margin-top: 0;
      width: max-content;
   }
   
   #outrasredes{
      margin-top: 0px;
      height: max-content;
      animation: teste;
      justify-content: center;
      gap: 40px;    
      width: 20%;
  }

   .redespessoais{
  
      width: 50px;
      height: 50px;
      background-color: #929292;
      transition: all 0.4s;
  }
}