:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  scroll-behavior: smooth;
  color-scheme: light dark;
  background-color: #242424;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


h1 {
  font-size: 3.2em;
  color: #c8b59a;
  line-height: 1.1;
}



.carousel .control-dots {
  padding: 0;
  text-align: center;
  width: 100%;
  margin-bottom: -10px;
  display: none;
}



.carousel .control-prev.control-arrow:before {
  border-right: 8px solid #454545;
}

.carousel .control-next.control-arrow:before {
  border-left: 8px solid #454545;
}

.carousel.carousel-slider .control-arrow{
  height: max-content;
  margin: auto;
}

.carousel.carousel-slider .control-arrow:hover {
  background: transparent;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
 
}

