
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@700&display=swap');


#menu {
    display: flex;
    height: 90px;
    width: 100%;
    justify-content: center;

    z-index: 99; 
    
    align-items: center;
    transition: all 0.24s;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #ffffffee;
   box-shadow: 0px 0px 20px 16px #0000000e;
    
  }
  
  .conteudo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
  }

  #menu div {
    display: flex;
    
    align-items: center;
    height: 100%;
  }
  

  #menu p {
    
    height: 100%;
    font-family: 'Source Sans 3', sans-serif;
     font-size: 2.5em;
     font-style: normal;
    font-weight: 500;
   
    line-height: 150%;
    /* identical to box height, or 90px */
    letter-spacing: -0.022em;
    color: #292C2D;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  
  #menu p span {
    color: rgb(99, 98, 98);
    transition: all 0.2s;
  }
  
  #menu nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    height: 100%;
    gap: 50px;
  }
  
  #menu nav div,  #menu nav a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  #menu nav a {
    text-decoration: none;
    width: max-content;
    height: 60px;
  
    font-family: 'Source Sans 3', sans-serif;
     font-size: 1.4em;
    font-style: normal;
    font-weight: 500;
    color: #292C2D;
    /* border-bottom: 4px solid #494949; */
    transition: all 0.24s;
  }
  
  #menu a:hover {
    color: #636262;
  }

  #menu .botaoMenu, #tracos {
    display: none;
  }

  @media screen and (max-width: 825px){



    #menu nav{
      display: none;
    }

    #menu .botaoMenu, #tracos {
      display: flex;
    }

    #tracos{
      display: block;
      width: 45px;
   
    }
  }