.cabecalho{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;

    justify-content: center;
    align-items: center;
    background-color: #262A2B;
    margin-top: 40px;
}

.cabecalho nav{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.cabecalho nav a{
    color: #929292;
    padding: 20px;
}