.container{
    position: fixed;
    left: 0;
    top: 50%;
    margin-top: -150px;
    height: 300px;
    width: 60px;
    background-color: #fff;
    box-shadow: 2px 2px 8px 5px #00000018;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.container div{
    width: max-content;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s all;
    padding: 5px;
    border-radius: 5px;
}

.container div:hover{
  
    background-color: #00000041;
    
}


#audio{
    margin-left: 400px;
    display: none;
}

#somOff{
    display: none;
}

.botoesSom{
    height: max-content;
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1000px){
    .container{
        display: none;
    }
}

@media screen and (max-width: 600px){
    .container{
        display: flex;
        margin-top: 0;
        top: 100%;
        flex-direction: row;
        height: 60px ;
        margin-top: -60px;
        width: 100%;
    }

    
}